<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .black{
            color: black;
        }
    </style>
</head>
<body>
    <p class="black">This is to inform you that your donation is succesfully created and it will be posted after our admins review process<p>
    <ul>
        <li class="black">Donation Title - {{name}}</li>
    </ul>
</body>
</html>